@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

.container {                                    /* Основной блок, не трогайте его */

    display: block;

    width: 28%;

    height: 100%;

    margin: 0 auto;

    background-color: #3c003c;

    

}

.logo {                                         /* Блок логотипа */

    display: block;                             

    height: 35px;

    color: #FFFFFF;
    
    text-align: center;
    
    font-size: 175%;/* Измени значение на ЦВЕТ что-бы отобразить буквы*/

}

.screen_background {                                       /* Блок экранчика */

    display: flex;

    width: 90%;

    padding: 15px;

    margin: 0 auto;

    height: 100px;

    position: relative;

    color: antiquewhite;

    font-size:  50px;
    
    height: 450px;  

}

    .screen_background .screen {
        display: flex;

        width: 100%;

        align-items: center;

        justify-content: end;

        padding: 5px;

        background-color: #7d7d7d;

        border-radius: 45px;

    }

    .screen_background .screen.and_btn {

        width: 90%;

        height: 90%;

        background-color: gray;

        height: 920px;
    }

    .screen_background .btn{

        width: 5%;

        margin: 1%;

        cursor: pointer;

        display: flex;

        align-items: center;

    }

.buttons {                                      /* Блок с кнопками */

    display: flex;

    flex-direction: column;

    padding: 5px;

}

    .buttons .row {                             /* Строчки кнопок */

        display: flex;

        flex-direction: row;

        justify-content: center;

    }

        .buttons .row .btn {                    /* Сами кнопки */

            display: flex;

            background-color: gray;

            border: 2px solid black;

            border-radius: 360px;

            width: 100px;

            height: 100px;

            margin: 5px;

            cursor: pointer;

            justify-content: center;

            align-items: center;

        }

        .buttons .row .btn.yel{
            background-color: #e5d200;
        }

        .buttons .row .btn.blue{
            background-color: #00a9a3
        }

        .buttons .row .btn.pink{
            background-color: #e2808b
        }

        .buttons .row .btn.big {
            width: 210px;
        }

    .btn{
        font-size: 40px;
        color: #FFFFFF;
        font-family: "Imprima", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .bluu{
        color:blue;
    }
    .reeed{
        color:red;
    }